<div align="center"><h1><b>Step 3: Format and Generate Additional Features on Datasets</b></h1></div>

**Outline**

1. Format legitimate user data to prep for machine learning models by one hot encoding and creating numerical features
2. Calculate additional metrics for each user from their tweet dataset to quantify pattern of life
3. Perform the same steps for the Russian disinformation dataset
4. Merge datasets and save as inputs to Step 4

In [5]:
# Import necessary libraries

# For accessing Google Drive Files
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth, drive
from oauth2client.client import GoogleCredentials

# Connect and authenticate Google Drive with Google CoLab
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive.mount('/drive')
drive = GoogleDrive(gauth)

import CS3315Project.tweetProcessing as tweetProcessing
import pandas as pd
import numpy as np 
import re
import json
from json import JSONDecodeError

Drive already mounted at /drive; to attempt to forcibly remount, call drive.mount("/drive", force_remount=True).
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

There are some minor formatting differences between the two datasets still, so we will format the legitimate and disinformation datasets separately to get them into the same format.

In [4]:
# Import and format Legitimate datasets

leguserfile = drive.CreateFile({'id': 'insert file id'}) 
leguserfile.GetContentFile('all_leg_users_final.csv')

legtweetfile = drive.CreateFile({'id': 'insert file id'}) 
legtweetfile.GetContentFile('all_leg_tweets_final.csv')


leg_users = pd.read_csv('all_leg_users_final.csv')
leg_tweets = pd.read_csv('all_leg_tweets_final.csv')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (4,6,18) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Now we will preprocess each column for the users and tweets into formats that can be understood by a model, and drop the ones that are not useful.

In [3]:
# Upon further inspection since the last step, we have identified a subset where the majority of data is consistently null, so we will discard
# these rows as they will skew our statistics in future steps

print(leg_tweets[leg_tweets['tweet_time'].isna()].isna().sum())
print(leg_tweets[leg_tweets['tweet_time'].isna()].shape)
leg_tweets[leg_tweets['tweet_time'].isna()].head()

tweetid                          0
userid                           0
user_display_name                0
user_screen_name                 0
user_reported_location       59961
user_profile_description       297
user_profile_url            253155
follower_count                   0
following_count                  0
account_creation_date            0
account_language            382202
tweet_language                   0
tweet_text                       0
tweet_time                  382202
tweet_client_name           382202
in_reply_to_userid          382202
in_reply_to_tweetid         382202
quoted_tweet_tweetid        382202
is_retweet                  382202
retweet_userid              382202
retweet_tweetid             382202
latitude                    382202
longitude                   382202
quote_count                 382202
reply_count                 382202
like_count                  382202
retweet_count               382202
hashtags                    382202
urls                        382202
user_mentions               382202
BoW                         382202
dtype: int64
(382202, 31)

                    tweetid      userid  ... user_mentions  BoW
257148  1282866110790918145  3611171413  ...           NaN  NaN
484154   962626216938307584  4057477932  ...           NaN  NaN
484164   962619477807521792  4057477932  ...           NaN  NaN
484207   962565832361631744  4057477932  ...           NaN  NaN
529042   454397008569442305   166881848  ...           NaN  NaN

[5 rows x 31 columns]

In [5]:
leg_tweets[leg_tweets['tweet_time'].isna()]['userid'].value_counts()

99321276               253044
1124740950809612288     59932
358920974               28945
1197318289              27523
874928007865139201      12318
                        ...
64397168                    1
807109720548982784          1
72002505                    1
3611171413                  1
2265104984                  1
Name: userid, Length: 63, dtype: int64

Despite these being legitimate tweets, they will skew our user statistics due all of the null metadata, and they also do not contain BoW data, so they are essentially useless and we will need to discard them. The rest of the user data has already been recorded in the user dataset for these users though. The majority of these anomalies are only for a few users, so they should not have too large of an impact, and as noted in the previous step, these users still have some legitimate tweets for all of their metrics to be accurately calculated

In [5]:
# Discard null tweet data

leg_tweets = leg_tweets[~leg_tweets['tweet_time'].isna()]

In [7]:
# Now that we have discarded anomalous data we will ensure the users are still consistent between the tweets and users

tweetdf_uniqueid = leg_tweets['userid'].unique()

userdf_uniqueid = leg_users['userid'].unique()

tweetdf_uniquescreen = leg_tweets['user_screen_name'].unique()

userdf_uniquescreen = leg_users['user_screen_name'].unique()

print('The number of user ids in the user dataframe: ', userdf_uniqueid.shape)

print('The number of user ids in the tweet dataframe: ', tweetdf_uniqueid.shape)

print('The number of user screen names in the user dataframe: ', userdf_uniquescreen.shape)

print('The number of user screen names in the user dataframe: ', tweetdf_uniquescreen.shape)

print('The number of rows in the user dataset is ', leg_users.shape)

The number of user ids in the user dataframe:  (4427,)
The number of user ids in the tweet dataframe:  (4427,)
The number of user screen names in the user dataframe:  (4427,)
The number of user screen names in the user dataframe:  (4427,)
The number of rows in the user dataset is  (4427, 11)

In [6]:
# Upon further inspection, we found extra special characters in each users BoW, so this code removes them

BoW_leg_list = leg_users['BoW'].str.replace("'",'')
BoW_leg_list = BoW_leg_list[BoW_leg_list.notnull()].apply(lambda x: re.sub('[^,a-zA-Z0-9]+', '', x))
BoW_leg_list = BoW_leg_list[BoW_leg_list.notnull()].apply(lambda x: x.strip('][').split(','))
BoW_leg_list = BoW_leg_list[BoW_leg_list.notnull()].apply(lambda x: list(filter(None, x)))
leg_users['BoW'] = BoW_leg_list

leg_users['BoW'].head()

0    [rose, scent, soap, antifascistf, lukeobrien, ...
1    [look, like, wrong, curtain, leave, gun, canno...
2    [championforaca, mcdoozie, sirelkmn, victoriaf...
3    [better, lmao, friend, like, joke, actually, v...
4    [international, flight, arrive, melbourne, mon...
Name: BoW, dtype: object

In [7]:
BoW_legtweet_list = leg_tweets['BoW'].str.replace("'",'')
BoW_legtweet_list = BoW_legtweet_list[BoW_legtweet_list.notnull()].apply(lambda x: re.sub('[^,a-zA-Z0-9]+', '', x))
BoW_legtweet_list = BoW_legtweet_list[BoW_legtweet_list.notnull()].apply(lambda x: x.strip('][').split(','))
BoW_legtweet_list = BoW_legtweet_list[BoW_legtweet_list.notnull()].apply(lambda x: list(filter(None, x)))
leg_tweets['BoW'] = BoW_legtweet_list

leg_tweets['BoW'].head()

0                                  [rose, scent, soap]
1       [antifascistf, lukeobrien, luke, sock, puppet]
2    [staunton, woman, face, year, probation, accus...
3                               [cops, prevent, crime]
4                                                   []
Name: BoW, dtype: object

Now that the data is clean, we can format it and begin engineering additional features

In [10]:
# Evaluate each column in the user and tweet dataframes to determine how to change them

leg_users.info(), leg_tweets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4427 entries, 0 to 4426
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   userid                    4427 non-null   int64
 1   user_display_name         4427 non-null   object
 2   user_screen_name          4427 non-null   object
 3   user_reported_location    2953 non-null   object
 4   user_profile_description  3841 non-null   object
 5   user_profile_url          1284 non-null   object
 6   follower_count            4427 non-null   float64
 7   following_count           4427 non-null   float64
 8   account_creation_date     4427 non-null   object
 9   account_language          0 non-null      float64
 10  BoW                       4427 non-null   object
dtypes: float64(3), int64(1), object(7)
memory usage: 380.6+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 10849470 entries, 0 to 11231671
Data columns (total 31 columns):
 #   Column                    Dtype
---  ------                    -----
 0   tweetid                   int64
 1   userid                    int64
 2   user_display_name         object
 3   user_screen_name          object
 4   user_reported_location    object
 5   user_profile_description  object
 6   user_profile_url          object
 7   follower_count            float64
 8   following_count           float64
 9   account_creation_date     object
 10  account_language          float64
 11  tweet_language            object
 12  tweet_text                object
 13  tweet_time                object
 14  tweet_client_name         object
 15  in_reply_to_userid        float64
 16  in_reply_to_tweetid       float64
 17  quoted_tweet_tweetid      object
 18  is_retweet                object
 19  retweet_userid            object
 20  retweet_tweetid           object
 21  latitude                  float64
 22  longitude                 float64
 23  quote_count               float64
 24  reply_count               float64
 25  like_count                float64
 26  retweet_count             float64
 27  hashtags                  object
 28  urls                      object
 29  user_mentions             object
 30  BoW                       object
dtypes: float64(11), int64(2), object(18)
memory usage: 2.6+ GB

(None, None)

In [10]:
# Drop the display name, screen name, and the user_profile_url since we can use the userid to identify users
#  and the url will not be useful for the model. Drop the account language, since we will be recalculating this column
# Drop the account creation date, since we will not be using it in the model
# In the tweet dataframe, we will not require any of these columns for our analysis or they are redundant to the user dataframe, or they 
# are all null

leg_users = leg_users.drop(['user_display_name', 'user_screen_name','account_creation_date', 'user_profile_url', 'account_language'], axis=1)

leg_tweets = leg_tweets.drop(['user_display_name', 'user_screen_name', 'user_reported_location', 'user_profile_description', 'follower_count', 'following_count', 'user_profile_url', 'account_language', 'tweet_client_name', 'account_creation_date', 'in_reply_to_userid', 'in_reply_to_tweetid', 'quoted_tweet_tweetid','retweet_userid','retweet_tweetid','latitude', 'longitude', 'tweet_text', 'reply_count'], axis=1)

leg_users.info(), leg_tweets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4427 entries, 0 to 4426
Data columns (total 6 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   userid                    4427 non-null   int64
 1   user_reported_location    2953 non-null   object
 2   user_profile_description  3841 non-null   object
 3   follower_count            4427 non-null   float64
 4   following_count           4427 non-null   float64
 5   BoW                       4427 non-null   object
dtypes: float64(2), int64(1), object(3)
memory usage: 207.6+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 10849470 entries, 0 to 11231671
Data columns (total 12 columns):
 #   Column          Dtype
---  ------          -----
 0   tweetid         int64
 1   userid          int64
 2   tweet_language  object
 3   tweet_time      object
 4   is_retweet      object
 5   quote_count     float64
 6   like_count      float64
 7   retweet_count   float64
 8   hashtags        object
 9   urls            object
 10  user_mentions   object
 11  BoW             object
dtypes: float64(3), int64(2), object(7)
memory usage: 1.1+ GB

(None, None)

In [11]:
# One hot encode user_reported_location to indicate whether or not a user reports their location

leg_users.loc[:,'user_reported_location'] = pd.notnull(leg_users['user_reported_location'])
leg_users.loc[:,'user_reported_location'] = leg_users.loc[:,'user_reported_location'].astype('int') 

leg_users.head()

                userid  ...                                                BoW
0             81914168  ...  [rose, scent, soap, antifascistf, lukeobrien, ...
1  1209338232946614272  ...  [look, like, wrong, curtain, leave, gun, canno...
2  1003903106730680320  ...  [championforaca, mcdoozie, sirelkmn, victoriaf...
3  1269876357472772097  ...  [better, lmao, friend, like, joke, actually, v...
4            183036128  ...  [international, flight, arrive, melbourne, mon...

[5 rows x 6 columns]

In [12]:
# One hot encode user_profile_description to indicate whether or not a user has a profile description

leg_users.loc[:,'user_profile_description'] = pd.notnull(leg_users['user_profile_description'])
leg_users.loc[:,'user_profile_description'] = leg_users.loc[:,'user_profile_description'].astype('int')

leg_users.head()

                userid  ...                                                BoW
0             81914168  ...  [rose, scent, soap, antifascistf, lukeobrien, ...
1  1209338232946614272  ...  [look, like, wrong, curtain, leave, gun, canno...
2  1003903106730680320  ...  [championforaca, mcdoozie, sirelkmn, victoriaf...
3  1269876357472772097  ...  [better, lmao, friend, like, joke, actually, v...
4            183036128  ...  [international, flight, arrive, melbourne, mon...

[5 rows x 6 columns]

In [13]:
# One-hot encode is_retweet from boolean to int value, null values will be set as false

leg_tweets.loc[:, 'is_retweet'] = leg_tweets.loc[:,'is_retweet'].fillna(False)

leg_tweets.loc[:,'is_retweet'] = leg_tweets.loc[:,'is_retweet'].astype('int')

leg_tweets.head()

               tweetid  ...                                                BoW
0  1334343130880073729  ...                                [rose, scent, soap]
1  1334342111454515202  ...     [antifascistf, lukeobrien, luke, sock, puppet]
2  1334327421684867074  ...  [staunton, woman, face, year, probation, accus...
3  1334327074627203072  ...                             [cops, prevent, crime]
4  1334326968305717250  ...                                                 []

[5 rows x 12 columns]

In [14]:
# Convert hashtags to number of hashtags used

leg_tweets.loc[:,'hashtags'] = leg_tweets.loc[:,'hashtags'].fillna('[]')

leg_hashtags = leg_tweets['hashtags']
hashtag_count = []


for i in range(len(leg_hashtags)):
  count = 0
  hashtags = leg_hashtags.iloc[i]
  try:
    hashtags = re.sub('\'', '\"', hashtags)
    hashtags = json.loads(hashtags)
    for item in hashtags:
      count += 1
    hashtag_count.append(count)
  except TypeError:
    hashtag_count.append(count)

leg_tweets.loc[:,'hashtags'] = hashtag_count

leg_tweets.head()

               tweetid  ...                                                BoW
0  1334343130880073729  ...                                [rose, scent, soap]
1  1334342111454515202  ...     [antifascistf, lukeobrien, luke, sock, puppet]
2  1334327421684867074  ...  [staunton, woman, face, year, probation, accus...
3  1334327074627203072  ...                             [cops, prevent, crime]
4  1334326968305717250  ...                                                 []

[5 rows x 12 columns]

In [16]:
# Convert urls to number of urls used

leg_tweets.loc[:,'urls'] = leg_tweets.loc[:,'urls'].fillna('[]')

leg_urls = leg_tweets['urls']
url_count = []


for i in range(len(leg_urls)):
  count = 0
  urls = leg_urls.iloc[i]
  try:
    urls = re.sub('\'', '\"', urls)
    urls = json.loads(urls)
    for item in urls:
      count += 1
    url_count.append(count)
  except TypeError:
    url_count.append(count)
  except JSONDecodeError:
    count = urls.count(r'"url"')
    url_count.append(count)

leg_tweets.loc[:,'urls'] = url_count

leg_tweets.head()

               tweetid  ...                                                BoW
0  1334343130880073729  ...                                [rose, scent, soap]
1  1334342111454515202  ...     [antifascistf, lukeobrien, luke, sock, puppet]
2  1334327421684867074  ...  [staunton, woman, face, year, probation, accus...
3  1334327074627203072  ...                             [cops, prevent, crime]
4  1334326968305717250  ...                                                 []

[5 rows x 12 columns]

In [18]:
# Convert user mentions to number of users mentioned

leg_tweets.loc[:,'user_mentions'] = leg_tweets.loc[:,'user_mentions'].fillna('[]')

leg_user_mentions = leg_tweets['user_mentions']
user_mentions_count = []


for i in range(len(leg_user_mentions)):
  count = 0
  user_mention = leg_user_mentions.iloc[i]
  try:
    user_mention = re.sub('\'', '\"', user_mention)
    user_mention = json.loads(user_mention)
    for item in user_mention:
      count += 1
    user_mentions_count.append(count)
  except TypeError:
    user_mentions_count.append(count)
  except JSONDecodeError:
    count = user_mention.count(r'"screen_name"')
    user_mentions_count.append(count)

leg_tweets.loc[:,'user_mentions'] = user_mentions_count

leg_tweets.head()

               tweetid  ...                                                BoW
0  1334343130880073729  ...                                [rose, scent, soap]
1  1334342111454515202  ...     [antifascistf, lukeobrien, luke, sock, puppet]
2  1334327421684867074  ...  [staunton, woman, face, year, probation, accus...
3  1334327074627203072  ...                             [cops, prevent, crime]
4  1334326968305717250  ...                                                 []

[5 rows x 12 columns]

In [7]:
leg_tweets.loc[:, 'tweet_time'] = pd.to_datetime(leg_tweets['tweet_time'], format='%Y-%m-%d %H:%M:%S')

In [8]:
# Calculate additional features for the legitimate dataset

# Calculate the ratio of retweets to original tweets
print('calculating retweet ratio')
tweetProcessing.retweetRatio(leg_users, leg_tweets)

# Calculate the ratio of english tweets
print('calculating english tweet ratio')
tweetProcessing.englishRatio(leg_users, leg_tweets) 

# Calculate time statistics
print('calculating time statistics')
tweetProcessing.tweet_time_statistics(leg_tweets, leg_users, en=True, non=True)

# Calculate tweet rate statistics 
print('calculating tweet rate statistics') 
tweetProcessing.averageTweetNum(leg_users, leg_tweets)

# Calculate tweet engagement metrics
print('calculating engagement metrics')
tweetProcessing.avgTweetMetrics(leg_users, leg_tweets)

# Label the legitimate dataset with binary classification indicating they are not part of an information operation
# This will be the feature to predict in the classification model

leg_users['info_op'] = 0
leg_tweets['info_op'] = 0

leg_users

calculating retweet ratio
calculating english tweet ratio
calculating time statistics
calculating tweet rate statistics
calculating engagement metrics

                   userid  user_reported_location  ...  avg_user_mentions  info_op
0                81914168                       1  ...           1.161518        0
1     1209338232946614272                       1  ...           1.030303        0
2     1003903106730680320                       0  ...           2.041667        0
3     1269876357472772097                       1  ...           0.569061        0
4               183036128                       1  ...           0.746667        0
...                   ...                     ...  ...                ...      ...
4422  1298520433549914118                       1  ...           0.463676        0
4423  1303048017377767424                       0  ...           1.643955        0
4424  1314617757049196544                       1  ...           1.707186        0
4425  1316519818674143232                       1  ...           1.068266        0
4426  1319101784741285888                       1  ...           2.098168        0

[4427 rows x 49 columns]

In [9]:
# Delete tweet language since no longer needed

leg_tweets = leg_tweets.drop(['tweet_language'], axis=1)

leg_tweets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10849470 entries, 0 to 10849469
Data columns (total 12 columns):
 #   Column         Dtype
---  ------         -----
 0   tweetid        int64
 1   userid         int64
 2   tweet_time     datetime64[ns]
 3   is_retweet     int64
 4   quote_count    float64
 5   like_count     float64
 6   retweet_count  float64
 7   hashtags       int64
 8   urls           int64
 9   user_mentions  int64
 10  BoW            object
 11  info_op        int64
dtypes: datetime64[ns](1), float64(3), int64(7), object(1)
memory usage: 993.3+ MB

In [11]:
# Save legitimate dataset to csv then delete to make room for the disinformation tweets

leg_tweets.to_csv('/mypath/Step 3 - Feature Generation/Processed_Data_Step3/leg_tweets_processed.csv', index=False)
leg_users.to_csv('/mypath/Step 3 - Feature Generation/Processed_Data_Step3/leg_users_processed.csv', index=False)

In [ ]:
del leg_tweets, leg_users

Now we will repeat this process to format the disinformation tweets

In [4]:
# Repeat formatting process for disinformation Twitter users

disuserfile = drive.CreateFile({'id': 'insert file id'}) 
disuserfile.GetContentFile('rus_users_bow.csv')

distweetfile1 = drive.CreateFile({'id': 'insert file id'}) 
distweetfile1.GetContentFile('rus_tweets_0119.csv')

distweetfile2 = drive.CreateFile({'id': 'insert file id'}) 
distweetfile2.GetContentFile('rus_tweets_0920.csv')

distweetfile3 = drive.CreateFile({'id': 'insert file id'}) 
distweetfile3.GetContentFile('rus_tweets_0520.csv')

distweetfile4 = drive.CreateFile({'id': 'insert file id'}) 
distweetfile4.GetContentFile('rus_tweets_1018.csv')

distweetfile5 = drive.CreateFile({'id': 'insert file id'}) 
distweetfile5.GetContentFile('rus_tweets_0619.csv')

dis_users = pd.read_csv('rus_users_bow.csv')
dis_tweets1 = pd.read_csv('rus_tweets_0119.csv')
dis_tweets2 = pd.read_csv('rus_tweets_0920.csv')
dis_tweets3 = pd.read_csv('rus_tweets_0520.csv')
dis_tweets4 = pd.read_csv('rus_tweets_1018.csv')
dis_tweets5 = pd.read_csv('rus_tweets_0619.csv')

dis_tweet_list = dis_tweets1, dis_tweets2, dis_tweets3, dis_tweets4, dis_tweets5

dis_tweets = pd.concat(dis_tweet_list, ignore_index=True)

del dis_tweets1, dis_tweets2, dis_tweets3, dis_tweets4, dis_tweets5, dis_tweet_list

# Drop unnamed column
dis_users = dis_users.drop('Unnamed: 0', axis=1)
dis_tweets = dis_tweets.drop('Unnamed: 0', axis=1)


# Drop dataset column for disinformation tweets and users
dis_users = dis_users.drop('dataset', axis=1)
dis_tweets = dis_tweets.drop('dataset', axis=1)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,1,2,3,4,5,6,7,9,10,11,12,13,14,15,16,17,19,20,22,23,28,29,30,32) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,1,9,16,17,19,20) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [17]:
# Since the last step we discovered some additional data that may skew the statistics we will calculate here, so we will discard it

# We know all the data with tweetid as null is unusable since all the fields are null so we will discard these tweets
print(dis_tweets[dis_tweets['tweetid'].isna()].isna().sum())
print(dis_tweets[dis_tweets['tweetid'].isna()].shape)
dis_tweets[dis_tweets['tweetid'].isna()].head()

tweetid                     53548
userid                      53548
user_display_name           53548
user_screen_name            53548
user_reported_location      53548
user_profile_description    53548
user_profile_url            53548
follower_count              53548
following_count             53548
account_creation_date       53548
account_language            53548
tweet_language              53548
tweet_text                  53548
tweet_time                  53548
tweet_client_name           53548
in_reply_to_userid          53548
in_reply_to_tweetid         53548
quoted_tweet_tweetid        53548
is_retweet                  53548
retweet_userid              53548
retweet_tweetid             53548
latitude                    53548
longitude                   53548
quote_count                 53548
reply_count                 53548
like_count                  53548
retweet_count               53548
hashtags                    53548
urls                        53548
user_mentions               53548
BoW                         53548
dtype: int64
(53548, 31)

       tweetid userid user_display_name  ... urls user_mentions  BoW
360448     NaN    NaN               NaN  ...  NaN           NaN  NaN
360449     NaN    NaN               NaN  ...  NaN           NaN  NaN
360450     NaN    NaN               NaN  ...  NaN           NaN  NaN
360451     NaN    NaN               NaN  ...  NaN           NaN  NaN
360452     NaN    NaN               NaN  ...  NaN           NaN  NaN

[5 rows x 31 columns]

In [18]:
# Delete null userid and tweetid rows

dis_tweets = dis_tweets[~dis_tweets['tweetid'].isna()]
print(dis_tweets[dis_tweets['tweetid'].isna()].isna().sum())
print(dis_tweets[dis_tweets['tweetid'].isna()].shape)
dis_tweets[dis_tweets['tweetid'].isna()].head()

tweetid                     0
userid                      0
user_display_name           0
user_screen_name            0
user_reported_location      0
user_profile_description    0
user_profile_url            0
follower_count              0
following_count             0
account_creation_date       0
account_language            0
tweet_language              0
tweet_text                  0
tweet_time                  0
tweet_client_name           0
in_reply_to_userid          0
in_reply_to_tweetid         0
quoted_tweet_tweetid        0
is_retweet                  0
retweet_userid              0
retweet_tweetid             0
latitude                    0
longitude                   0
quote_count                 0
reply_count                 0
like_count                  0
retweet_count               0
hashtags                    0
urls                        0
user_mentions               0
BoW                         0
dtype: int64
(0, 31)

Empty DataFrame
Columns: [tweetid, userid, user_display_name, user_screen_name, user_reported_location, user_profile_description, user_profile_url, follower_count, following_count, account_creation_date, account_language, tweet_language, tweet_text, tweet_time, tweet_client_name, in_reply_to_userid, in_reply_to_tweetid, quoted_tweet_tweetid, is_retweet, retweet_userid, retweet_tweetid, latitude, longitude, quote_count, reply_count, like_count, retweet_count, hashtags, urls, user_mentions, BoW]
Index: []

In [19]:
# We also discovered some other anomalous data which is unusable, so we will delete it since all fields are null or unusable in these rows

print(dis_tweets[dis_tweets['userid'].str.contains('Twitter',na=False)].isna().sum())
print(dis_tweets[dis_tweets['userid'].str.contains('Twitter',na=False)].shape)
dis_tweets[dis_tweets['userid'].str.contains('Twitter',na=False)].head()

tweetid                       0
userid                        0
user_display_name           298
user_screen_name            299
user_reported_location      292
user_profile_description      0
user_profile_url            170
follower_count              132
following_count               0
account_creation_date         0
account_language              0
tweet_language                0
tweet_text                    0
tweet_time                    0
tweet_client_name             5
in_reply_to_userid           15
in_reply_to_tweetid           0
quoted_tweet_tweetid          0
is_retweet                    0
retweet_userid              299
retweet_tweetid             299
latitude                    299
longitude                   299
quote_count                 299
reply_count                 299
like_count                  299
retweet_count               299
hashtags                    299
urls                        299
user_mentions               299
BoW                         299
dtype: int64
(299, 31)

                 tweetid               userid  ... user_mentions  BoW
40519   2015-09-09 15:01  Twitter for Android  ...           NaN  NaN
158371  2017-05-07 03:00   Twitter for iPhone  ...           NaN  NaN
213452  2015-10-31 22:58   Twitter for iPhone  ...           NaN  NaN
230225  2017-04-03 03:15   Twitter Web Client  ...           NaN  NaN
263534  2017-02-16 06:29   Twitter for iPhone  ...           NaN  NaN

[5 rows x 31 columns]

In [20]:
dis_tweets[dis_tweets['userid'].str.contains('Twitter',na=False)].tail()

                  tweetid              userid  ... user_mentions  BoW
3909235  2017-04-19 11:37  Twitter Web Client  ...           NaN  NaN
3909242  2017-04-05 08:40  Twitter Web Client  ...           NaN  NaN
3909346  2017-04-06 13:08  Twitter Web Client  ...           NaN  NaN
3909356  2017-04-06 13:05  Twitter Web Client  ...           NaN  NaN
3909390  2017-04-25 08:09  Twitter Web Client  ...           NaN  NaN

[5 rows x 31 columns]

In [21]:
# Delete additional anomalous data

dis_tweets = dis_tweets[~dis_tweets['userid'].str.contains('Twitter',na=False)]

print(dis_tweets[dis_tweets['userid'].str.contains('Twitter',na=False)].isna().sum())
print(dis_tweets[dis_tweets['userid'].str.contains('Twitter',na=False)].shape)
dis_tweets[dis_tweets['userid'].str.contains('Twitter',na=False)].head()

tweetid                     0
userid                      0
user_display_name           0
user_screen_name            0
user_reported_location      0
user_profile_description    0
user_profile_url            0
follower_count              0
following_count             0
account_creation_date       0
account_language            0
tweet_language              0
tweet_text                  0
tweet_time                  0
tweet_client_name           0
in_reply_to_userid          0
in_reply_to_tweetid         0
quoted_tweet_tweetid        0
is_retweet                  0
retweet_userid              0
retweet_tweetid             0
latitude                    0
longitude                   0
quote_count                 0
reply_count                 0
like_count                  0
retweet_count               0
hashtags                    0
urls                        0
user_mentions               0
BoW                         0
dtype: int64
(0, 31)

Empty DataFrame
Columns: [tweetid, userid, user_display_name, user_screen_name, user_reported_location, user_profile_description, user_profile_url, follower_count, following_count, account_creation_date, account_language, tweet_language, tweet_text, tweet_time, tweet_client_name, in_reply_to_userid, in_reply_to_tweetid, quoted_tweet_tweetid, is_retweet, retweet_userid, retweet_tweetid, latitude, longitude, quote_count, reply_count, like_count, retweet_count, hashtags, urls, user_mentions, BoW]
Index: []

In [22]:
# There is some additional anomalous data as well where the tweet time is null

na_tweettime = dis_tweets[dis_tweets['tweet_time'].isna()]
print(na_tweettime.isna().sum())
print(na_tweettime.shape)
na_tweettime.head()

tweetid                         0
userid                          0
user_display_name               0
user_screen_name                0
user_reported_location         23
user_profile_description       16
user_profile_url            21945
follower_count                  0
following_count                 0
account_creation_date           0
account_language                0
tweet_language                  7
tweet_text                      0
tweet_time                  25339
tweet_client_name           25339
in_reply_to_userid          25339
in_reply_to_tweetid         25339
quoted_tweet_tweetid        25339
is_retweet                  25339
retweet_userid              25339
retweet_tweetid             25339
latitude                    25339
longitude                   25339
quote_count                 25339
reply_count                 25339
like_count                  25339
retweet_count               25339
hashtags                    25339
urls                        25339
user_mentions               25339
BoW                         25339
dtype: int64
(25339, 31)

                   tweetid  ...  BoW
40518   641627405300441088  ...  NaN
158370  861053220017156097  ...  NaN
213451  660591771471081472  ...  NaN
230224  848735747318337536  ...  NaN
263533  832114559422828544  ...  NaN

[5 rows x 31 columns]

In [23]:
# Despite these being legitimate tweets, they will skew our statistics due to the anomalies, and they also do not
# contain BoW data, so they are essentially useless and we will discard them

dis_tweets = dis_tweets[~dis_tweets['tweet_time'].isna()]

In [25]:
# Now that we have discarded anomalous data we will ensure the users are still consistent between the tweets and users

tweetdf_uniqueid = dis_tweets['userid'].unique()

userdf_uniqueid = dis_users['userid'].unique()

tweetdf_uniquescreen = dis_tweets['user_screen_name'].unique()

userdf_uniquescreen = dis_users['user_screen_name'].unique()

print('The number of user ids in the user dataframe: ', userdf_uniqueid.shape)

print('The number of user ids in the tweet dataframe: ', tweetdf_uniqueid.shape)

print('The number of user screen names in the user dataframe: ', userdf_uniquescreen.shape)

print('The number of user screen names in the user dataframe: ', tweetdf_uniquescreen.shape)

print('The number of rows in the user dataset is ', dis_users.shape)

The number of user ids in the user dataframe:  (4167,)
The number of user ids in the tweet dataframe:  (4177,)
The number of user screen names in the user dataframe:  (4167,)
The number of user screen names in the user dataframe:  (4168,)
The number of rows in the user dataset is  (4167, 11)

In [28]:
# It looks like there are some users in the tweet dataset that are not in the user dataset so we will identify these

users_notinuserdf = dis_tweets[~dis_tweets['userid'].isin(userdf_uniqueid)]

users_notinuserdf

                  tweetid           userid  ... user_mentions  BoW
403033   2018-03-17 15:11           CovRT1  ...           NaN  NaN
403192   2018-02-06 02:11           CovRT1  ...           NaN  NaN
425942   2015-07-29 15:57      Microtweeps  ...           NaN  NaN
426529   2015-07-23 17:51        Jerusalem  ...           NaN  NaN
426582   2015-07-23 17:51      Microtweeps  ...           NaN  NaN
451228   2018-03-05 23:11           CovRT1  ...           NaN  NaN
491520   2016-02-27 22:44  Mobile Web (M2)  ...           NaN  NaN
528010   2018-01-21 13:11           CovRT1  ...           NaN  NaN
546289   2018-01-18 01:11           CovRT1  ...           NaN  NaN
710136   2017-03-25 01:41    POTUSADJT Bot  ...           NaN  NaN
726132   2018-02-04 03:11           CovRT1  ...           NaN  NaN
727047   2018-01-16 13:11           CovRT1  ...           NaN  NaN
738161   2018-02-03 23:11           CovRT1  ...           NaN  NaN
738202   2018-01-15 14:11           CovRT1  ...           NaN  NaN
749760   2018-04-16 07:11           CovRT1  ...           NaN  NaN
754523   2018-04-26 17:11           CovRT1  ...           NaN  NaN
755060   2018-04-11 14:11           CovRT1  ...           NaN  NaN
757381   2017-03-22 21:41    POTUSADJT Bot  ...           NaN  NaN
818502   2018-04-24 00:11           CovRT1  ...           NaN  NaN
830793   2015-07-23 17:51       Tweefilter  ...           NaN  NaN
930337   2018-02-26 02:21           CovRT1  ...           NaN  NaN
931787   2018-02-05 09:11           CovRT1  ...           NaN  NaN
931793   2018-02-05 02:11           CovRT1  ...           NaN  NaN
952965   2017-12-14 23:11           CovRT1  ...           NaN  NaN
1350911  2011-03-03 15:53              web  ...           NaN  NaN
1389599  2012-04-20 08:10              web  ...           NaN  NaN
1397774  2011-03-04 10:33              web  ...           NaN  NaN
1476782  2012-07-20 08:32      twitterfeed  ...           NaN  NaN
1590347  2014-12-22 21:08        Instagram  ...           NaN  NaN
1604778  2015-01-29 19:17        Instagram  ...           NaN  NaN
1702364  2015-01-01 04:00        Instagram  ...           NaN  NaN
2103001  2015-01-21 18:14        Instagram  ...           NaN  NaN
2103613  2015-01-04 17:20        Instagram  ...           NaN  NaN
2164188  2015-01-04 20:56        Instagram  ...           NaN  NaN
2183587  2015-01-15 19:21        Instagram  ...           NaN  NaN
2193074  2014-12-17 15:12        Instagram  ...           NaN  NaN
2198773  2015-01-09 15:44        Instagram  ...           NaN  NaN
2199389  2015-03-18 16:25        Instagram  ...           NaN  NaN
2206933  2015-02-22 11:50        Instagram  ...           NaN  NaN
2218808  2014-08-11 16:30        Instagram  ...           NaN  NaN
2229952  2014-11-24 05:31        Instagram  ...           NaN  NaN
2233407  2014-12-23 20:13        Instagram  ...           NaN  NaN
2242409  2014-09-24 23:51        Instagram  ...           NaN  NaN
2254863  2014-11-28 17:35        Instagram  ...           NaN  NaN
2255807  2014-09-11 18:33        Instagram  ...           NaN  NaN
2278239  2015-01-19 13:37        Instagram  ...           NaN  NaN
2279582  2014-09-22 19:54        Instagram  ...           NaN  NaN
2286879  2015-01-16 15:10        Instagram  ...           NaN  NaN
2292405  2014-11-17 11:40        Instagram  ...           NaN  NaN
2329847  2014-10-11 09:28        Instagram  ...           NaN  NaN
2487698  2015-01-15 18:58        Instagram  ...           NaN  NaN
2575422  2014-08-12 08:18        Instagram  ...           NaN  NaN
2803521  2011-11-11 12:56        TweetDeck  ...           NaN  NaN
2804723  2014-11-11 07:30        Instagram  ...           NaN  NaN
3046644  2012-04-20 08:17              web  ...           NaN  NaN
3070326  2015-03-07 11:26        Instagram  ...           NaN  NaN
3137183  2011-11-28 17:12        TweetDeck  ...           NaN  NaN
3182553  2011-10-21 13:22        TweetDeck  ...           NaN  NaN
3436571  2012-11-16 09:13      twitterfeed  ...           NaN  NaN

[59 rows x 31 columns]

In [30]:
# It looks like there is more anomalous data so we will discard it and check for consistency again

dis_tweets = dis_tweets[dis_tweets['userid'].isin(userdf_uniqueid)]

# Check for consistency again

tweetdf_uniqueid = dis_tweets['userid'].unique()

userdf_uniqueid = dis_users['userid'].unique()

tweetdf_uniquescreen = dis_tweets['user_screen_name'].unique()

userdf_uniquescreen = dis_users['user_screen_name'].unique()

print('The number of user ids in the user dataframe: ', userdf_uniqueid.shape)

print('The number of user ids in the tweet dataframe: ', tweetdf_uniqueid.shape)

print('The number of user screen names in the user dataframe: ', userdf_uniquescreen.shape)

print('The number of user screen names in the user dataframe: ', tweetdf_uniquescreen.shape)

print('The number of rows in the user dataset is ', dis_users.shape)

The number of user ids in the user dataframe:  (4167,)
The number of user ids in the tweet dataframe:  (4167,)
The number of user screen names in the user dataframe:  (4167,)
The number of user screen names in the user dataframe:  (4167,)
The number of rows in the user dataset is  (4167, 11)

In [31]:
# Upon further inspection, I found some extra special characters in the tweet and user BoW, so this code removes them

BoW_dis_list = dis_users['BoW'].str.replace("'",'')
BoW_dis_list = BoW_dis_list[BoW_dis_list.notnull()].apply(lambda x: re.sub('[^,a-zA-Z0-9]+', '', x))
BoW_dis_list = BoW_dis_list[BoW_dis_list.notnull()].apply(lambda x: x.strip('][').split(','))
BoW_dis_list = BoW_dis_list[BoW_dis_list.notnull()].apply(lambda x: list(filter(None, x)))
dis_users['BoW'] = BoW_dis_list

BoW_distweets_list = dis_tweets['BoW'].str.replace("'",'')
BoW_distweets_list = BoW_distweets_list[BoW_distweets_list.notnull()].apply(lambda x: re.sub('[^,a-zA-Z0-9]+', '', x))
BoW_distweets_list = BoW_distweets_list[BoW_distweets_list.notnull()].apply(lambda x: x.strip('][').split(','))
BoW_distweets_list = BoW_distweets_list[BoW_distweets_list.notnull()].apply(lambda x: list(filter(None, x)))
dis_tweets['BoW'] = BoW_distweets_list

Now that we have discarded all anomalous data in the disinformation dataset we can format it

In [32]:
# Drop the same columns as in the legitimate datasets
# Drop the display name, screen name, and the user_profile_url since we can use the userid to identify users and the url will not be useful for the model. Drop the account language, since we will be recalculating this column
# Drop the account creation date, since we will not be using it in the model
# In the tweet dataframe, we will not require any of these columns for our analysis or they are redundant to the user dataframe, or they are all null

dis_users = dis_users.drop(['user_display_name', 'user_screen_name', 'account_creation_date', 'user_profile_url', 'account_language'], axis=1)

dis_tweets = dis_tweets.drop(['user_display_name', 'user_screen_name', 'user_reported_location', 'tweet_client_name', 'user_profile_description', 'follower_count', 'following_count', 'user_profile_url', 'account_language', 'account_creation_date', 'in_reply_to_userid', 'in_reply_to_tweetid', 'quoted_tweet_tweetid','retweet_userid','retweet_tweetid','latitude', 'longitude', 'tweet_text', 'reply_count'], axis=1)

dis_users.info(), dis_tweets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4167 entries, 0 to 4166
Data columns (total 6 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   userid                    4167 non-null   object
 1   user_reported_location    3293 non-null   object
 2   user_profile_description  2946 non-null   object
 3   follower_count            4164 non-null   float64
 4   following_count           4165 non-null   float64
 5   BoW                       4167 non-null   object
dtypes: float64(2), object(4)
memory usage: 195.5+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 12023624 entries, 0 to 12102868
Data columns (total 13 columns):
 #   Column             Dtype
---  ------             -----
 0   tweetid            object
 1   userid             object
 2   tweet_language     object
 3   tweet_time         object
 4   tweet_client_name  object
 5   is_retweet         object
 6   quote_count        float64
 7   like_count         float64
 8   retweet_count      float64
 9   hashtags           object
 10  urls               object
 11  user_mentions      object
 12  BoW                object
dtypes: float64(3), object(10)
memory usage: 1.3+ GB

(None, None)

In [33]:
# One hot encode user_reported_location to indicate whether or not a user reports their location

dis_users.loc[:,'user_reported_location'] = pd.notnull(dis_users['user_reported_location'])
dis_users.loc[:,'user_reported_location'] = dis_users.loc[:,'user_reported_location'].astype('int') 

dis_users.head()

                                         userid  ...                                                BoW
0  CqW9bECdw2Jjk9DDU7UyE6P59TukYFISNE8J6sN66u4=  ...  [schumer, fight, hard, healthcare, breaking, r...
1    uOrf1TDmM7vP4YEhOJDXORoqvpDlsJt03AyOfhrZo=  ...  [watersecurity, jordan, crucial, maintaining, ...
2   LXW4uuq2JWx4So6ycDFanp4qYQxNvj0ftiuyUe3tZo=  ...  [freedom, press, acknowledge, civilized, world...
3   oqEFFiOrA+QVN8mEK0wweRTMmY2FQNB6XE5baB1Wik=  ...  [high, time, retire, white, racist, congress, ...
4   KZRG5Icfor+M92fyOxzu+dfY5whVco7VarRTmdSwf0=  ...  [set, twitter, myfirsttweet, man, buys, new, h...

[5 rows x 6 columns]

In [34]:
# One hot encode user_profile_description to indicate whether or not a user has a profile description

dis_users.loc[:,'user_profile_description'] = pd.notnull(dis_users['user_profile_description'])
dis_users.loc[:,'user_profile_description'] = dis_users.loc[:,'user_profile_description'].astype('int')

dis_users.head()

                                         userid  ...                                                BoW
0  CqW9bECdw2Jjk9DDU7UyE6P59TukYFISNE8J6sN66u4=  ...  [schumer, fight, hard, healthcare, breaking, r...
1    uOrf1TDmM7vP4YEhOJDXORoqvpDlsJt03AyOfhrZo=  ...  [watersecurity, jordan, crucial, maintaining, ...
2   LXW4uuq2JWx4So6ycDFanp4qYQxNvj0ftiuyUe3tZo=  ...  [freedom, press, acknowledge, civilized, world...
3   oqEFFiOrA+QVN8mEK0wweRTMmY2FQNB6XE5baB1Wik=  ...  [high, time, retire, white, racist, congress, ...
4   KZRG5Icfor+M92fyOxzu+dfY5whVco7VarRTmdSwf0=  ...  [set, twitter, myfirsttweet, man, buys, new, h...

[5 rows x 6 columns]

In [35]:
# One-hot encode is_retweet from boolean to int value, null values will be set as false


dis_tweets.loc[:, 'is_retweet'] = dis_tweets.loc[:,'is_retweet'].fillna(0)

data = {'False': int(0), 'True': int(1), False: int(0), True: int(1)}

dis_tweets.loc[:, 'is_retweet'] = dis_tweets.loc[:, 'is_retweet'].map(data)

dis_tweets.loc[:, 'is_retweet'] = dis_tweets.loc[:,'is_retweet'].fillna(0)

dis_tweets.loc[:,'is_retweet'] = dis_tweets.loc[:,'is_retweet'].astype('int64')

dis_tweets.head()

              tweetid  ...                                                BoW
0  894109669869985793  ...  [new, convoy, syrianarmy, arrived, hama, insid...
1  839851611656761344  ...                                                 []
2  841662351510249472  ...                                                 []
3  820599201495187456  ...           [iraq, civilian, kill, airstrike, mosul]
4  549829105483808768  ...  [truly, know, know, true, payback, hell, perso...

[5 rows x 13 columns]

In [38]:
# Convert hashtags to number of hashtags used

dis_tweets.loc[:,'hashtags'] = dis_tweets.loc[:,'hashtags'].fillna(0)

dis_hashtags = dis_tweets['hashtags']
hashtag_count = []


for i in range(len(dis_hashtags)):
  count = 0
  hashtags = dis_hashtags.iloc[i]
  try:
    hashtags = hashtags.replace("'", '') 
    hashtags = hashtags.strip('][').split(', ')
    count = len(hashtags)
    hashtag_count.append(count)
  except TypeError:
    hashtag_count.append(count)
  except AttributeError:
    hashtag_count.append(count)

dis_tweets.loc[:,'hashtags'] = hashtag_count

dis_tweets.head()

              tweetid  ...                                                BoW
0  894109669869985793  ...  [new, convoy, syrianarmy, arrived, hama, insid...
1  839851611656761344  ...                                                 []
2  841662351510249472  ...                                                 []
3  820599201495187456  ...           [iraq, civilian, kill, airstrike, mosul]
4  549829105483808768  ...  [truly, know, know, true, payback, hell, perso...

[5 rows x 13 columns]

In [42]:
# Convert urls to number of urls used

dis_tweets.loc[:,'urls'] = dis_tweets.loc[:,'urls'].fillna(0)

dis_urls = dis_tweets['urls']
url_count = []


for i in range(len(dis_urls)):
  count = 0
  urls = dis_urls.iloc[i]

  if urls == '[]':
    url_count.append(count)

  else:
    try:
      urls = urls.replace("'", '') 
      urls = urls.strip('][').split(', ')
      count = len(urls)
      url_count.append(count)
    except TypeError:
      url_count.append(count)
    except AttributeError:
      url_count.append(count)

dis_tweets.loc[:,'urls'] = url_count

dis_tweets.head()

              tweetid  ...                                                BoW
0  894109669869985793  ...  [new, convoy, syrianarmy, arrived, hama, insid...
1  839851611656761344  ...                                                 []
2  841662351510249472  ...                                                 []
3  820599201495187456  ...           [iraq, civilian, kill, airstrike, mosul]
4  549829105483808768  ...  [truly, know, know, true, payback, hell, perso...

[5 rows x 13 columns]

In [43]:
# Convert user mentions to number of users mentioned

dis_tweets.loc[:,'user_mentions'] = dis_tweets.loc[:,'user_mentions'].fillna('[]')

dis_user_mentions = dis_tweets['user_mentions']
user_mentions_count = []


for i in range(len(dis_user_mentions)):
  count = 0
  user_mention = dis_user_mentions.iloc[i]
  if user_mention == '[]':
    user_mentions_count.append(count)

  else:
    user_mention = user_mention.strip('][').split(', ')
    count = len(user_mention)
    user_mentions_count.append(count)

dis_tweets.loc[:,'user_mentions'] = user_mentions_count

dis_tweets.head()

              tweetid  ...                                                BoW
0  894109669869985793  ...  [new, convoy, syrianarmy, arrived, hama, insid...
1  839851611656761344  ...                                                 []
2  841662351510249472  ...                                                 []
3  820599201495187456  ...           [iraq, civilian, kill, airstrike, mosul]
4  549829105483808768  ...  [truly, know, know, true, payback, hell, perso...

[5 rows x 13 columns]

In [48]:
dis_tweets.loc[:, 'tweet_time'] = pd.to_datetime(dis_tweets['tweet_time'], format='%Y-%m-%d %H:%M')

In [49]:
# Calculate additional features for the information operation dataset

# Calculate the ratio of retweets to original tweets
print('calculating retweet ratio')
tweetProcessing.retweetRatio(dis_users, dis_tweets)

# Calculate the ratio of english tweets
print('calculating english tweet ratio')
tweetProcessing.englishRatio(dis_users, dis_tweets)

# Calculate time statistics
print('calculating time statistics')
tweetProcessing.tweet_time_statistics(dis_tweets, dis_users, en=True, non=True)

# Calculate tweet rate statistics
print('calculating tweet rate statistics') 
tweetProcessing.averageTweetNum(dis_users, dis_tweets)

# Calculate tweet engagement metrics
print('calculating engagement metrics')
tweetProcessing.avgTweetMetrics(dis_users, dis_tweets)

# Label the legitimate dataset with binary classification indicating they are part of an information operation
# This will be the feature to predict in the classification model

dis_users['info_op'] = 1
dis_tweets['info_op'] = 1

dis_users

calculating retweet ratio
calculating english tweet ratio
calculating time statistics
calculating tweet rate statistics
calculating engagement metrics

                                                 userid  ...  info_op
0          CqW9bECdw2Jjk9DDU7UyE6P59TukYFISNE8J6sN66u4=  ...        1
1            uOrf1TDmM7vP4YEhOJDXORoqvpDlsJt03AyOfhrZo=  ...        1
2           LXW4uuq2JWx4So6ycDFanp4qYQxNvj0ftiuyUe3tZo=  ...        1
3           oqEFFiOrA+QVN8mEK0wweRTMmY2FQNB6XE5baB1Wik=  ...        1
4           KZRG5Icfor+M92fyOxzu+dfY5whVco7VarRTmdSwf0=  ...        1
...                                                 ...  ...      ...
4162  3102283ec467ed58ced76e906687a85483d5eeb18e2de4...  ...        1
4163  9f7867b0b3f46848b44c3048cc85d7bd425a9b8d63f53d...  ...        1
4164  53af1887d91472f63c8639ce894a58d09a86691f114b62...  ...        1
4165       iZ328VglWrG25qPym1bifLoiwXD9v1+A3G4WU5AThso=  ...        1
4166        YonB7sDqf9+ts0T3nZcFTCwI+9xx3nCoR7APykRtAE=  ...        1

[4167 rows x 49 columns]

In [50]:
# Delete tweet language field since we no longer need it

dis_tweets = dis_tweets.drop(['tweet_language'], axis=1)

In [51]:
# Save disinformation dataset to csv

dis_tweets.to_csv('/mypath/Step 3 - Feature Generation/Processed_Data_Step3/dis_tweets_processed.csv', index=False)
dis_users.to_csv('/mypath/Step 3 - Feature Generation/Processed_Data_Step3/dis_users_processed.csv', index=False)

In [ ]:
# Grab all datasets to combine

leguserfile = drive.CreateFile({'id': 'insert file id'}) 
leguserfile.GetContentFile('leg_users_processed.csv')

leg_users = pd.read_csv('leg_users_processed.csv')

legtweetfile = drive.CreateFile({'id': 'insert file id'}) 
legtweetfile.GetContentFile('leg_tweets_processed.csv')

leg_tweets = pd.read_csv('leg_tweets_processed.csv')

disuserfile = drive.CreateFile({'id': 'insert file id'}) 
disuserfile.GetContentFile('dis_users_processed2.csv')

dis_users = pd.read_csv('dis_users_processed.csv')

distweetfile = drive.CreateFile({'id': 'insert file id'}) 
distweetfile.GetContentFile('dis_tweets_processed.csv')

dis_tweets = pd.read_csv('dis_tweets_processed.csv')

WARNING:googleapiclient.discovery_cache:file_cache is unavailable when using oauth2client >= 4.0.0 or google-auth
Traceback (most recent call last):
  File "/usr/local/lib/python3.6/dist-packages/googleapiclient/discovery_cache/__init__.py", line 36, in autodetect
    from google.appengine.api import memcache
ModuleNotFoundError: No module named 'google.appengine'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.6/dist-packages/googleapiclient/discovery_cache/file_cache.py", line 33, in <module>
    from oauth2client.contrib.locked_file import LockedFile
ModuleNotFoundError: No module named 'oauth2client.contrib.locked_file'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.6/dist-packages/googleapiclient/discovery_cache/file_cache.py", line 37, in <module>
    from oauth2client.locked_file import LockedFile
ModuleNotFoundError: No module named 'oauth2client.locked_file'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.6/dist-packages/googleapiclient/discovery_cache/__init__.py", line 42, in autodetect
    from . import file_cache
  File "/usr/local/lib/python3.6/dist-packages/googleapiclient/discovery_cache/file_cache.py", line 41, in <module>
    "file_cache is unavailable when using oauth2client >= 4.0.0 or google-auth"
ImportError: file_cache is unavailable when using oauth2client >= 4.0.0 or google-auth
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [22]:
# Make sure both user datasets turned out with the same number of features

dis_users.shape, leg_users.shape, dis_tweets.shape, leg_tweets.shape

((4167, 49), (4427, 49), (12023624, 12), (10849470, 12))

In [23]:
# Now we will combine the tweet and user datasets for IO/non-IO and store each in a csv

all_tweets = pd.concat([leg_tweets, dis_tweets], ignore_index=True)

del leg_tweets, dis_tweets

all_users = pd.concat([leg_users, dis_users], ignore_index=True)

del leg_users, dis_users

# Save the final data to csv as inputs to Step 4

all_tweets.to_csv('/mypath/Step 4 - Exploratory Data Analysis and Classification Model Development/Input_Data_Step4/all_tweets_processed.csv', index=False)

all_users.to_csv('/mypath/Step 4 - Exploratory Data Analysis and Classification Model Development/Input_Data_Step4/all_users_processed.csv', index=False)